extends layout

block main
    if name
        h2 Weclome, #{name}!
        span
            a(href="/recipes/0") View Recipes   
    else
        h2 Welcome!
        form(action="/" method="post")
            label(for="name") Please Enter Your Name
                input(type="text" id="name" name="user" placeholder="Enter Name")